/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-bottom: 20px;
    color: black;
  }
  
  ul {
    color: #000;
  }

  a {
color: whitesmoke; 
  }

  a:hover {
    color:  rgb(9, 58, 58);
    text-decoration: transparent;
  }
