body {
  font-family:georgia,garamond,serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(7, 124, 124);
  }
  
  .navbar a {
    float: left;
    font-size:17px;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(12, 160, 160);
  }

  .active {
    background-color: rgb(12, 160, 160);
  }

  .navbar a:brand {
    font-size: 22px;
  }

  button{
padding: 72px 32px;
  }
